<aside class="side-bar">
  <div class="side-bar__search">
    <div class="side-bar__search__container">
      <input
        class="side-bar__search__container__input"
        placeholder="Search champions"
        type="search"
        [(ngModel)]="searchText"
        (input)="filterChampions()"
      />
    </div>
  </div>
  <nav class="side-bar__items">
    <a
      *ngFor="let champion of filteredChampions"
      class="side-bar__items__item"
      (click)="onChampionSelect(champion)"
    >
      <div
        class="side-bar__items__item__icon"
        [style.background-image]="
          'url(' + getChampionImageUrl(champion.image.full) + ')'
        "
      ></div>
      <span class="side-bar__items__item__label">{{ champion.name }}</span>
    </a>
  </nav>
</aside>
