@import "../../../../../styles";

.header {
  @apply flex shrink-0 items-center justify-between border-b border-[var(--border-primary)] px-6 py-4;

  .header__logo {
    @apply flex items-center gap-3;

    .header__logo__icon {
      @apply h-8 w-8 text-[var(--primary-accent)];
    }

    .header__logo__title {
      @apply text-xl font-bold;
    }
  }

  .header__buttons {
    @apply flex items-center gap-2;

    .header__buttons__button {
      @apply rounded-md px-3 py-1.5 text-sm font-semibold transition-colors;
      cursor: pointer;

      &:not(.header__buttons__button--active) {
        @apply text-[var(--text-secondary)] hover:bg-[var(--background-secondary)] hover:text-white;
      }

      &.header__buttons__button--active {
        background-color: var(--primary-accent);
        color: var(--background-primary);
      }
    }
  }
}
