<header>
    <h1>Champion Explorer</h1>
    <aside>
        <div class="header-buttons">
            <nav>
                <ul>
                    <li>
                        <a href="" target="_blank" class="btn btn-tertiary">
                            valorant
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank" class="btn btn-tertiary">
                        league of legends
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</header>