<main>
  <div class="content__container">
    <h2 class="title__home__page">Alistair</h2>
    <div class="tab__navigation">
      <nav>
        <a class="tab__active" href="#">Lore</a>
        <a class="tab__link" href="#">Abilities</a>
        <a class="tab__link" href="#">Theme Music</a>
      </nav>
    </div>
    <div class="lore__content">
      <p>
        Alistair is a mighty minotaur with a fearsome reputation, born in the heart of the Great Barrier. He seeks vengeance against the Noxian empire for the destruction of
        his clan. Though he was enslaved and forced into the gladiatorial arenas, Alistair's indomitable will allowed him to survive and eventually escape. Now, he roams the
        land, a symbol of resistance, ready to crush any who stand in his way.
      </p>
    </div>
    <div class="theme__player">
      <div class="theme__container">
        <div class="theme__image" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDq8g5T4J8bsSGY_C98hM2zVBlb4OOrZHnU8CODjFpCW5TPqatTqExdfSdbkNqBwdaY7B924jSZkDH6EumCbqaeI2Xy-etmBrzawHLTMKKFzUxcEGZzPjPwikHwXOFnUTokGWG5CgU_kegycpn_iEA9jRSgleG8ks6AAWgWjxFauSjtsB-xu6bz4k5NrC8BTyzB1hZwXvKSqwKFsvnkCmsj6iG1xU0OQpYHVm3LgkDawKI2xGLQIKCaLcYI0IJSB6wynSFvv9KS3yUH");'></div>
        <div class="theme__info">
          <p class="theme__title">Alistair Theme</p>
          <p class="theme__subtitle">League of Legends</p>
        </div>
        <button class="play__button">
          <svg fill="currentColor" height="24px" viewBox="0 0 256 256" width="24px" xmlns="http://www.w3.org/2000/svg">
            <path d="M240,128a15.74,15.74,0,0,1-7.6,13.51L88.32,229.65a16,16,0,0,1-16.2.3A15.86,15.86,0,0,1,64,216.13V39.87a15.86,15.86,0,0,1,8.12-13.82,16,16,0,0,1,16.2.3L232.4,114.49A15.74,15.74,0,0,1,240,128Z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</main>