:root {
    --primary: #054169;
    --primary-010: #042e46;

    --secondary: #f34646;
    --secondary-010: #f50b0b;

    -white: #ffffff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0
}